<!DOCTYPE html>
<html>
  <head>
    <meta name="view port" content="width=device-width" charset="utf-8">
    <title>Mayuen</title>
    <link rel="stylesheet" href="top.scss">
  </head>
  <body>


      <%= image_tag 'mayuentop.jpg', :class => "main", :size =>"300×300" %>


  </body>
</html>
