<div class="profile">
  <h2>自己紹介</h2>
  <p>徳島県出身</p>
  <p>1993年7月11日生まれの26歳<p>
  <p>
    関西学院大学在学中に単身イギリスへ留学。
    大学卒業後は故郷である徳島に戻り一般企業で働くかたわら、
    英語を教える仕事がしたいという思いから2度目の留学を決意。
    今秋、資格取得のためオーストラリアへ留学予定。
    帰国後の目標は、
    ホームティーチャーとして子供たち（や英語を話したい大人たち）に
    英語を教える仕事をすること。
  </p>
  <p>趣味はオーボエを吹くこと。好きなものはバウムクーヘンとトイストーリー。</p>
  <div class="profile2">
    <h3>＊取得資格＊</h3>
    <h4>児童英語教師資格</h4>
    <p>
      •J-SHINE(小学校英語指導者プラス資格)<br>
      •TECSOL (Teaching English to Children Speakers of Other Languages)
    </p>
    <h4>その他 資格</h4>
    <p>
      •英検準1級<br>
      •TOEIC 825<br>
      •観光英検2級<br>
    </p>
  </div>
</div>
