<div class="page-header">
  <h1>お問い合わせ</h1>
</div>

<%= form_for @contact, :url => contact_thanks_path do |f| %>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_foeld :name %>
        <%= @contact.name %>
      </td>
    </tr>

  </table>
