<div class="new-post">
  <% if @current_user %>
  <%= link_to 'new', blog_new_path %>
  <% end %>
</div>
<div class="box-index">
  <% @posts.each do |post| %>
    <div class="box-post">
      <%= link_to post.title, "/blog/#{post.id}" %>
      <p><%= post.created_at.to_s(:created_at) %></p>
    </div>

  <% end %>
</div>
