<div class="new-post">
  <% if @current_user && @current_user.admin == true %>
    <%= link_to '新しく記事を書く', blog_new_path %>
  <% else %>
    <p>index</p>
  <% end %>
</div>
<div class="box-index">
  <% @posts.each do |post| %>
    <div class="box-post">
      <%= link_to post.title, "/blog/#{post.id}" %>
      <p><%= post.created_at.to_s(:created_at) %></p>
    </div>

  <% end %>
</div>
