<h1>post</h1>
<%= form_tag('/blog', method: :post) do %>
  <div class="new-post-submit">
    <input type="text" name="title">
    <textarea name="content" rows="8" cols="80"></textarea>
    <input type="submit" value="submit">
  </div>
<% end %>
