<h1>post</h1>
<%= form_tag({contoller: :posts, action: :create}, {multipart: true}) do %>
  <div class="new-post-submit">
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <textarea name="title" rows="1" cols="80"></textarea>
    <textarea name="content" rows="8" cols="80"></textarea>
    <input type="submit" value="submit">
  </div>
<% end %>
