<div class="box">
  <div class="title">
    <%= @post.title %>
  </div>
  <div class="content">
    <%= @post.content %>
  </div>
  <div class="btn">
    <div class="edit-btn">
      <%= link_to("edit", "/blog/#{@post.id}/edit") %>
    </div>
    <div class="delete-btn">
      <%= link_to "delete", "/blog/#{@post.id}/destroy", method: :get %>
    </div>
  </div>
</div>
