// Place all the styles related to the lesson controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.lesson-class li{
//  list-style: none;

//}
.lesson-class{
  height: 490px;
  width: 100%;
}

ul{
  margin-left: 100px;
  margin-right: 50px;
}

.lesson-list{
  margin:50px;
  transition: transform 0.3s ease-out;
}

.lesson_list:hover {
  transform: lesson-list(10deg);
}





//.lesson-class ul{
//  display: inline;
//  text-align: left;
//}
