// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  text-align:center;
  font-family: 'Bradley Hand';
  font-size: 20px;
  color:#aaaaaa
}

.box-post {
    padding: 8px 8px 0.2px 16px;
    color: #222222;
    a:hover {color:#111111; text-decoration: none;}
    a:link {color:#222222; text-decoration: none;}
    a:visited {color:#222222; text-decoration: none;}
    background: #FAF0E6;
    width: 40%;
    margin: 20px auto;
}

.box-post a{
  font-size: 24px;
}

.box-post p{
    font-size: 16px;
    text-align: right;
}

.box{
    padding: 0.5em;
    color: #222222;
    a:hover {color:#111111; text-decoration: none;}
    a:link {color:#222222; text-decoration: none;}
    a:visited {color:#222222; text-decoration: none;}
    font-size: 20px;
    background: #FAF0E6;
    width: 60%;
    margin:30px auto;
}
.title{
  font-size: 28px;
  padding: 10px 10px 0;
}

.content{
  font-size: 20px;
  padding:10px 30px 20px;
}
.box-index{
  margin-bottom: 40px;
}
.new-post{
  width: 100%;
  color: #aaaa;
  a:visited{color:#aaaa; text-decoration: none;}
  a:link {text-decoration: none;}
  a:hover {color: #555555; text-decoration: none;}
  font-family: 'Bradley Hand';
  font-size: 20px;
  width: 100px;
  margin: 40px auto 20px;
}
.new-post a{
  text-align: center;
}

.new-post-submit{
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
}

.new-post-submit input{
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px dashed #1b2538;
	border-radius: 6px;
	outline: none;
}

.new-post-submit textarea{
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 3px 0;
  border: 1px dashed #1b2538;
	border-radius: 8px;
  resize: none;
}

input[type="submit"]{
  font: 24px 'Bradley Hand';
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 16px 10px 0;
  transition: 0.2s;
  border: none;
  outline: none;
  text-align: right;
  color: #aaaa;
}

input[type="submit"]:hover{
  color: #555555; text-decoration: none;
}

.delete-btn{
  text-align: right;
}

.delete-btn a{
  font: 20px 'Bradley Hand';
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 16px 10px 0;
  transition: 0.2s;
  border: none;
  outline: none;
  color: #aaaa;
  text-decoration: none;
}

.delete-btn a:hover{
  color: #555555;
  text-decoration: none;
}

.edit-btn {
  text-align: right;
}
.edit-btn a{
  font: 20px 'Bradley Hand';
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 16px 10px 0;
  transition: 0.2s;
  border: none;
  outline: none;
  color: #aaaa;
  text-decoration: none;
}

.edit-btn a:hover{
  color: #555555;
  text-decoration: none;
}

.btn{
  text-align: right;
}
.edit-btn, .delete-btn {
  display: inline-block
}

.like{
  padding-left: 20px;
  display: inline-block;
}

.unlike_count{
  display: inline;
  color: #ff2581;
}
.like_count{
  display: inline;
  color: #8899a6;
}

.like-btn-unlike{
  color:#ff2581;

}

.like-btn{
  color: #8899a6;
}
