.profile{
  width: 40%;
  height: 100%;
  margin: 70px auto;
  font-family: 'TsukuARdGothic-Regular';
  color: #222222;
}
.profile2{
  border: 2px dotted #dddd;
  margin-top: 60px;
  padding: 10px 20px;
}
.profile2 p{
  margin-top: 0;
  padding: 0;
}
h3{
  color: #005555;
}
h4{
  margin:0;
  padding:0;
}
