// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_new_form{
  text-align: center;
  padding-bottom: 40px;
}

.signup-btn{
  text-align: center;
}

.signup-btn input{
  padding-top: 20px;

}

.login_form {
  text-align: center;
  padding-bottom: 40px;
}

.login-btn{
  text-align: center;
}
.login-btn input{
  padding-top: 40px;
}
